.container
{
    display: flex;
    justify-content: center;
}

.change-password-block
{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    background: rgba(34, 34, 34, 1);
    border-radius: 40px;
}

.change-password-block__title
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-block__title__text
{
    color: white;
    font: 500 24px/1.22 'Montserrat';
    padding-top: 18px;
    padding-bottom: 16px;
}

.change-password-block__main
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.change-password-block__main__old-password, .change-password-block__main__new-password, .change-password-block__main__new-password-repeat
{
    display: flex;
    flex-direction: column;
}

.change-password-block__main__old-password__text, .change-password-block__main__new-password__text, .change-password-block__main__new-password-repeat__text
{
    color: #9B9B9B;
    font: 600 16px/1.22 'Montserrat';
    padding-bottom: 10px;
    padding-top: 10px;
}

.change-password-block__main__button-container
{
    display: flex;
    justify-content: center;
}
.change-password-block__main__button-container__button
{
    color: white;
    border-radius: 20px;
    font: 600 18px/1.22 'Montserrat';
    background: linear-gradient(to right, #0CE463, #60D009);
    padding-top: 14px;
    padding-bottom: 14px;
    min-width: 150px;
    border: none;
    margin-top: 30px;
    margin-bottom: 40px;
}
.change-password-block__main__new-password, .change-password-block__main__new-password-repeat, .change-password-block__main__old-password
{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.change-password-block__main__old-password__input, .change-password-block__main__new-password__input, .change-password-block__main__new-password-repeat__input
{
    border-radius: 20px;
    border: 1px solid rgba(155, 155, 155, 1);
    background: rgba(26, 26, 24, 1);
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 10px;
    font: 600 16px/1.22 'Montserrat';
    color: white;
    min-width: 500px;
}