.logo
{
    color: white;
    font: 600 36px/1.3 "Kodchasan";
    padding-left: 80px;
}
.block__user
{
    display: flex;
    justify-content: space-between;
    margin-top: -1%;
    align-items: center;
    width: 20%;
}
.block__user-img
{
    border-radius: 50%;
}
.block__message
{
    display: flex;
    justify-content: center;
}
.block__message-window
{
    border-radius: 40px;
    background: #222;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block__message-window-header-text
{
    color: #FFF;
    font: 500 30px/1.22 'Montserrat';
    padding-top: 10px;
}
.block__message-window-chat
{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.block__message-window-chat-users
{
    width: 35%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.block__message-window-chat-user
{
    display: flex;
    flex-direction: row;
    padding-left: 9%;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    user-select: none;
}

.block__message-window-chat-user.active
{
    background-color: #0CE46333;
}

.block__message-window-chat-user-photo
{
    border-radius: 50%;
}
.block__message-window-chat-user-info
{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}
.block__message-window-chat-user-info-name
{
    color: #FFF;
    font: 500 20px/1.22 'Montserrat';
}
.block__message-window-chat-user-info-message
{
    margin-top: 1%;
    color: rgba(155, 155, 155, 1);
    font: 500 16px/1.22 'Montserrat';
}

.block__message-window__chat-message
{
    padding-left: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block__message-window__chat-message__text
{
    font: 600 16px/1.22 'Montserrat';
    color: rgba(130, 130, 130, 1);
}

.block__message-window__chat
{

}

.block__message-window__chat__user-info
{
    display: flex;
    flex-direction: column;
}

.block__message-window__chat__user-info__name
{
    font: 500 16px/1.22 'Montserrat';
    color: white;
    padding-left: 30px;
    padding-top: 10px;
}

.block__message-window__chat__user-info__date
{
    font: 500 12px/1.22 'Montserrat';
    color: rgba(155, 155, 155, 1);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.block__message-window__chat__messages
{
    background-color: rgba(26, 26, 24, 1);
    width: 813px;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.block__message-window__chat__messages-user1, .block__message-window__chat__messages-user2
{
    padding: 10px 5px 9px 10px;
    width: fit-content;
    border-radius: 45px;
    margin-left: 5px;
}

.block__message-window__chat__messages-user1
{
    background: rgba(50, 50, 50, 1);
}

.block__message-window__chat__messages-user2
{
    background: linear-gradient(to right bottom, rgba(64, 200, 1, 1), rgba(2, 200, 81, 1));
}

.block__message-window__chat__messages-user1__time, .block__message-window__chat__messages-user2__time
{
    color: white;
    font: 500 9px/1.22 'Montserrat';
    padding-left: 5px;
}

.block__message-window__chat__messages-user-icon
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.block__message-window__chat__messaging
{
    display: flex;
    justify-content: space-between;
}

.block__message-window__chat__messaging__text
{
    color: rgba(155, 155, 155, 1);
    font: 500 12px/1.22 'Montserrat';
    padding-left: 30px;
    padding-top: 20px;
}

.block__message-window__chat__messaging__icon
{
    padding-right: 15px;
    padding-top: 15px;
    border: none;
    background: inherit;
}

.block__message-window__chat__messaging__input
{
    background: inherit;
    width: 70%;
    border: none;
    color: white;
    padding-left: 10px;
}

.block__message-window__chat__messaging__input::placeholder
{
    color: rgba(155, 155, 155, 1);
    font: 500 16px/1.22 'Montserrat';
}

.block__message-window__chat__messaging__input:focus, .block__message-window__chat__messaging__input
{
    outline: 0;
    font: 500 16px/1.22 'Montserrat';
}

.block__message-window__chat__messaging__button
{
    border: none;
    background: inherit;
}

.block__message-window__chat__messages-user1__text, .block__message-window__chat__messages-user2__text
{
    font: 500 16px/1.22 'Montserrat';
    color: white;
}

.block__message-window__chat__messages__container
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}