html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  main {
    display: block;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  a {
    background-color: transparent;
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  b,strong {
    font-weight: bolder;
  }
  code,kbd,samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  img {
    border-style: none;
  }
  button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  button,input {
    overflow: visible;
  }
  button,select {
    text-transform: none;
  }
  button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  progress {
    vertical-align: baseline;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  [type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  [hidden] {
    display: none;
  }
  textarea{
      resize: none;
  }
.profile-editing
{
    width: 1276px;
    height: 779px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 40px;
    margin-left: 322px;
}

.profile-editing__title-bar
{
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-editing__title-bar__text
{
    font: 500 36px/1.3 'Montserrat';
    color: white;
}

.profile-editing__fields
{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.profile-editing__fields__text-fields
{
    padding-left: 97px;
    display: flex;
    flex-direction: column;
}

.profile-editing__fields__text-fields__input-text
{
    background-color: rgba(26, 26, 24, 1);
    max-width: 314px;
    border: 1px solid rgba(155, 155, 155, 1);
    border-radius: 20px;
    padding: 19px 12px 20px 27px;
    font: 600 24px/1.22 'Montserrat';
    color: white;
}

.input-text_big
{
    padding: 19px 46px 20px 27px;
}

.field-padding
{
    margin-left: 23px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255, 255, 255, 1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 1);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 1);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(255, 255, 255, 1);
}
input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.profile-editing__fields__text-fields__input-select
{
    max-width: 314px;
    border: 1px solid rgba(155, 155, 155, 1);
    border-radius: 20px;
    padding: 19px 32px 20px 27px;
    font: 600 24px/1.22 'Montserrat';
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(26, 26, 24, 1) url("../images/icon_edit.svg") no-repeat 90% 50%;
}

.profile-editing__fields__text-fields__date
{
    border: 1px solid rgba(193, 193, 193, 1);
    border-radius: 14px;
    padding: 19px 287px 20px 27px;
    font: 600 24px/1.22 'Montserrat';
    color: white;
    background-color: rgba(26, 26, 24, 1);
}

.profile-editing__fields__text-fields__input-select__city
{
    border: 1px solid rgba(155, 155, 155, 1);
    border-radius: 20px;
    padding: 19px 442px 20px 27px;
    font: 600 24px/1.22 'Montserrat';
    color: white;
    margin-top: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(26, 26, 24, 1) url("../images/icon_edit.svg") no-repeat 98% 50%;
}

.big-text
{
    margin-top: 30px;
    max-width: 100%;
    padding: 92px 178px 93px 156px;
}

@media screen and (max-width: 1600px)
{
    .profile-editing
    {
        width: 900px;
        height: 450px;
    }
    .profile-editing__title-bar
    {
        height: 30px;
        padding-top: 10px;
    }
    .profile-editing__title-bar__text
    {
        font-size: 24px;
    }
    .profile-editing__fields
    {
        padding-top: 20px;
    }
    .profile-editing__fields__text-fields
    {
        padding-left: 40px;
    }
    .profile-editing__fields__text-fields__name-block
    {
        display: flex;
        flex-direction: row;
    }
    .profile-editing__fields_text-fields_additional-info
    {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
    }
    .profile-editing__fields__text-fields__input-text
    {
        font-size: 16px;
        padding: 5px 3px 5px 14px;
        max-width: 180px;
    }
    .profile-editing__fields__text-fields__input-select
    {
        font-size: 16px;
        padding: 5px 16px 5px 14px;
        background: rgba(26, 26, 24, 1) url("../images/icon_edit.svg") no-repeat 90% / 20%;
    }
    .profile-editing__fields__text-fields__date
    {
        font-size: 16px;
        padding: 5px 132px 5px 14px;
        max-width: 250px;
    }
    .profile-editing__fields__text-fields__input-select__city
    {
        max-width: 385px;
        font-size: 16px;
        padding: 5px 257px 5px 14px;
        margin-top: 20px;
        background: rgba(26, 26, 24, 1) url("../images/icon_edit.svg") no-repeat 98% / 6%;
    }
    .big-text
    {
        margin-top: 20px;
        padding-right: 204px;
        max-width: 100%;
    }
    .profile-editing__fields__photo-button-block
    {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
    .profile-editing__fields__photo-button-block__submit-button
    {
        margin-top: 9%;
        background: linear-gradient(to right bottom, rgba(96, 208, 9, 1), rgba(12, 228, 99, 1));
        color: white;
        border-radius: 45px;
        max-width: 538px;
        padding: 5px 44px;
        font: 600 20px/1.22 'Montserrat';
        border: none;
    }
    .profile-editing__fields__photo-button-block__exit-button
    {
        margin-top: 9%;
        background: linear-gradient(to right bottom, rgba(255, 61, 0, 1), rgba(216, 0, 0, 1));
        color: white;
        border-radius: 45px;
        max-width: 538px;
        padding: 5px 65px;
        font: 600 20px/1.22 'Montserrat';
        border: none;
    }
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}