html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  main {
    display: block;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  a {
    background-color: transparent;
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  b,strong {
    font-weight: bolder;
  }
  code,kbd,samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  img {
    border-style: none;
  }
  button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  button,input {
    overflow: visible;
  }
  button,select {
    text-transform: none;
  }
  button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  progress {
    vertical-align: baseline;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  [type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  [hidden] {
    display: none;
  }

.main
{
    background: url("../img/main-background.png") no-repeat;
    background-size: 100%;
}
header
{
    display: flex;
    padding-top: 26px;
    padding-right: 2%;
    justify-content: space-between;
}
.logo
{
    color: white;
    font: 600 36px/1.3 "Kodchasan";
    padding-left: 80px;
    padding-top: 24px;
}
.user-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.user-block__img
{
    border-radius: 50%;
}

.profile-editing
{
    width: 1276px;
    height: 779px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 40px;
    margin-left: 322px;
}

.profile-editing__title-bar
{
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-editing__title-bar__text
{
    font: 500 36px/1.3 "Kodchasan";
    color: white;
}

.profile-editing__fields
{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.profile-editing__fields__text-fields
{
    padding-left: 97px;
    display: flex;
    flex-direction: column;
}

.profile-editing__fields__text-fields__input-text
{
    background-color: rgba(26, 26, 24, 1);
    max-width: 314px;
    border: 1px solid rgba(155, 155, 155, 1);
    border-radius: 20px;
    padding: 19px 12px 20px 27px;
    font: 600 24px/1.22 'Montserrat';
}

.input-text_big
{
    padding: 19px 46px 20px 27px;
}

.field-padding
{
    margin-left: 23px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255, 255, 255, 1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 1);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 1);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(255, 255, 255, 1);
}
input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.profile-editing__fields__text-fields__input-select
{
    max-width: 314px;
    border: 1px solid rgba(155, 155, 155, 1);
    border-radius: 20px;
    padding: 19px 32px 20px 27px;
    font: 600 24px/1.22 'Montserrat';
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/icon_edit.svg") 90% / 30% no-repeat;
    background-color: rgba(26, 26, 24, 1);
}

.profile-editing__fields__text-fields__date
{
    border: 1px solid rgba(193, 193, 193, 1);
    border-radius: 14px;
    margin-top: 30px;
    padding: 19px 287px 20px 27px;
    font: 600 24px/1.22 'Montserrat';
    color: white;
    background-color: rgba(26, 26, 24, 1);
}

.profile-editing__fields__text-fields__input-select__city
{
    border: 1px solid rgba(155, 155, 155, 1);
    border-radius: 20px;
    padding: 19px 442px 20px 27px;
    font: 600 24px/1.22 'Montserrat';
    color: white;
    margin-top: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/icon_edit.svg") 98% / 8% no-repeat;
    background-color: rgba(26, 26, 24, 1);
}

.big-text
{
    margin-top: 30px;
    max-width: 100%;
    padding: 92px 178px 93px 156px;
}