.title
{
    color: white;
    font: 600 96px/1.22 "Montserrat";
    max-width: 1143px;
    text-align: center;
}

.register-button
{
    background: linear-gradient(to right bottom, rgba(255, 184, 0, 1), rgba(255, 229, 0, 1));
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43%;
    color: black;
}

.register-button:visited,
.register-button:active
.register-button:hover,
.register-button:focus
{
    color: black;
}
.register-button__text
{
    font: 600 48px/1.22 "Montserrat";
    margin-top: 38px;
    margin-bottom: 38px;
}

@media screen and (max-width: 1600px)
{
    .title
    {
        font: 600 54px/1.22 "Montserrat";
    }
    .register-button
    {
        width: 33%;
    }
    .register-button__text
    {
        font: 600 24px/1.22 "Montserrat";
        margin-top: 19px;
        margin-bottom: 19px;
    }
}
